.gallery-container {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* break {
 flex-basis: 100%;
 width: 0px;
 height: 0px;
 overflow: hidden;
} */

.image {
  width: 260px;
  overflow: hidden;
  /* cursor: pointer; */
  position: relative;
  margin: 0 20px;
}

.image img {
  width: 100%;
}
/* 
.image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: grayscale(100%);
  transition: .5s linear;
}

.image:hover::before {
  width: 0;
}

.image:nth-child(1)::before {
  background-image: url(s2s1.JPG);
}

.image:nth-child(2)::before {
  background-image: url(s2s2.jpeg);
}

.image:nth-child(3)::before {
  background-image: url(s2s4.jpeg);
}

.image:nth-child(4)::before {
  background-image: url(s2s5.jpg);
}

.image:nth-child(5)::before {
  background-image: url(s2s6.jpg);
}

.image:nth-child(6)::before {
  background-image: url(s2s3.jpg);
} */